@keyframes star_1 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.star_1 {
  animation: star_1 8s ease-out infinite;
}

@keyframes star_2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.star_2 {
  animation: star_1 8s ease-out infinite;
}

@keyframes fall {
  from {
    top: -150px;
    transform: rotate(0deg);
  }
  to {
    top: 650px;
    transform: rotate(360deg);
  }
}

.bottle1 {
  animation-name: fall;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bread1 {
  animation-name: fall;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bread2 {
  animation-name: fall;
  animation-duration: 14s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.chip1 {
  animation-name: fall;
  animation-duration: 7s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.chip2 {
  animation-name: fall;
  animation-duration: 11s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.chip3 {
  animation-name: fall;
  animation-duration: 14s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.chip4 {
  animation-name: fall;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.dice {
  animation-name: fall;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes conveyor {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1440px 0;
  }
}

.liner_product {
  animation: conveyor 12s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes chipSwap {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }

  34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.chipstar01,
.chipstar01-01,
.chipstar01-02 {
  animation: chipSwap 3s infinite;
}
.chipstar02 {
  animation: spin 4.3s linear infinite;
}
.chipstar01 {
  background-image: url(../images/chipstar01.svg);
  animation-delay: 0s;
}

.chipstar01-01 {
  background-image: url(../images/chipstar01-01.svg);
  animation-delay: 1s;
}

.chipstar01-02 {
  background-image: url(../images/chipstar01-02.svg);
  animation-delay: 2s;
}
/* 
@keyframes star1 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.star1 {
  animation: star1 1.5s ease-out infinite;
}

@keyframes star2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.star2 {
  animation: star2 1.5s ease-out infinite;
} */
